<section class="help">
  <div class="col-sm-12">
    <h1 class="display-4">Help Needed</h1>
  </div>
  <div class="col-sm-12">
    <p class="lead">OpenEMR is in need of funding for new development efforts that will benefit outpatient and inpatient users alike. Features
include hybrid inpatient/outpatient support, advanced billing, Fast Healthcare Interoperability Resources
(FHIR) integration, modern cloud offerings, ability to perform quality reporting, low-cost medical devices
connectivity, and other commonly requested solutions. Our vibrant community is dedicated to responding
to user needs and setting our priorities to be consistent with the requests of our colleagues abroad.
    </p>
    <div class="col text-center">
      <a class="btn btn-xl btn-outline-danger" href="{{ "donate" | absURL }}">
        <i class="fa fa-heart"></i>&nbsp;Donate Now
      </a>
    </div>
  </div>
</section>
