.main-header {
    @extend .navbar;
    @extend .navbar-expand-lg;
    @extend .navbar-dark;
    
    background-color: map-get($theme-colors, "primary");
    
    margin-top: 0 !important;

    .container {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    a {
        color: $white !important;
        &:hover {
            color: lighten($blue, 60) !important;
        }
    }
}

a.nav-link {
    color: $white;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}
#navbarSupportedContent {
    @extend .collapse;
    @extend .navbar-collapse;
    @extend .justify-content-end;
    
    ul {
        @extend .navbar-nav;
        li {
          a {
              @extend .nav-link;
          }

          a.github {
            font-size: 1.4rem;
          }
        }
    }
}
.dropdown-menu {
    background-color: $blue;
    a:hover {
        background-color: $blue;
        color: darken($white, 30);
    }
}
