// All typography-related styles go here. Font-family, sizes, etc.

// Body
// Links
// H1-H6
// Section Title
// Bootstrap .display-*
// Features
// .page

body {
    font-family: $font-family-sans-serif;
    line-height: 145%;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $headings-font-family;
}


.section-title {
    h1 {
        font-weight: 300;
        font-size: 1.75rem;

        @include media-breakpoint-down(sm) {
            font-size: 1.25rem;
        }
    }

    h5 {
        font-weight: 300;
        font-family: $font-family-sans-serif;
    }
}

.display-1 {
    font-weight: 200;
    font-size: 3.5rem;
}

.display-3 {
    font-weight: 300;
    font-size: 2.5rem;
}

.display-4 {
    @include media-breakpoint-down(lg) {
        font-size: 2rem;
    }
    @include media-breakpoint-only(sm) {
        font-size: 1.5rem;
    }
}

.features {
    .card-holder {

        @include media-breakpoint-down(md) {
            .card-title {
                font-size: 1.5rem;
            }
        }
    }
}

.page {
    h1, h2, h3, h4, h5, h6 {
        font-weight: 500;
        &:after {
            display: none;
        }
    }
    h1 {
        font-size: 2.2rem;
        font-weight: 400;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.8rem;
        font-weight: 500;
    }
    h4 {
        font-size: 1.6rem;
    }
    h5 {
        font-size: 1.4rem;
    }
    h6 {
        font-size: 1.2rem;
    }
}