<section class="billboard billboard__home billboard__home--giving-tuesday">
  <div class="row">
    <div class="content">
      <div class="row">
        <div class="col-sm-12 col-lg-12">
          <h1 class="display-4 text-white text-center introduce_text">{{- .Title | safeHTML -}}</h1>
          {{- with .Params.subtitle -}}<p class="h3 text-center pt-3 mb-2">{{- . -}}</p>{{- end -}}
        </div>
      </div>
      <div class="row mt-3 mb-3">
      {{- range .Params.billboard.cards -}}
        {{- partial "homepage/billboard-card" . -}}
      {{- end -}}
      </div>
    </div>
  </div>
</section>
