<div class="row justify-content-center">
    <footer class="post-footer">
        {{ if .Params.tags }}
        <p class="post-tags">
            <span>Tagged:</span>
            {{ $len := len .Params.tags }} {{ range $index, $tag := .Params.tags }}
            <a href="{{ " /tags/ " | relLangURL }}{{ . | urlize }}/" class="badge badge-primary">{{ . }}</a>
            {{ end }}
        </p>
        {{ end}}
    </footer>
</div>
<div class="row justify-content-center">
    <div id="disqus_thread" class="comments"></div>
    <script>
        var disqus_config = function () {
            this.page.url = "{{ .Permalink }}";
            this.page.identifier = "{{ .Permalink }}";
        };
        (function () {
            var d = document, s = d.createElement('script');
            s.src = 'https://openemrblog.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the
        <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
    </noscript>
</div>
