@font-face {
    font-family: 'Aleo';
    src: url('/fonts/aleo/Aleo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Aleo';
    src: url('/fonts/aleo/Aleo-Italic.woff') format('woff');
    font-style: italic;
}
@font-face {
    font-family: 'Aleo';
    src: url('/fonts/aleo/Aleo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Aleo';
    src: url('/fonts/aleo/Aleo-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Aleo';
    src: url('/fonts/aleo/Aleo-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Aleo';
    src: url('/fonts/aleo/Aleo-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
