.home-billboard {
    padding-bottom: 4rem;
    color: $white;
    min-height: 100vh;
    background-color: color("gray");
    background-repeat: no-repeat;
    background-position: top center;
    -webkit-background-size: cover;
    background-size: cover;
    @include media-breakpoint-down(sm) {
        // background-image: none !important;
        // background-color: $gray !important;
    }
    .jumbotron {
        padding-top: 10rem;
        padding-bottom: 0;
        color: $white;
        background: none;
        .display-4 {
            text-shadow: 2px 2px 0 $black;
            font-family: $headings-font-family;
            font-weight: 300 !important;
        }
        p.lead {
            hyphens: all;
            font-weight: 400;

            @include media-breakpoint-down(sm) {
                display: none;
            }
        }
    }
    .banner-items {
        @extend .container;
        .card-holders {
            @extend .row;
            .card {
                @extend .text-white;
                @extend .text-center;
                @extend .bg-primary;
                border-radius: 20px;
                background-color: rgba(46, 155, 214, 0.40) !important;
                transition: background-color 0.25s;

                &.donation {
                    background-color: rgba(255, 26, 47, 0.8) !important;

                    &:hover {
                        background-color: rgb(255, 26, 46) !important;
                    }
                }

                &:hover {
                    @include transition(0.25s);
                    background-color: rgb(46, 155, 214) !important;
                }
                a {
                    color: $white;
                    &:hover {
                        text-decoration: none;
                    }
                }
                .card-body {
                    img {
                        padding-bottom: 1rem;
                    }
                }
            }
        }
    }
}


.welcome-billboard {
  @extend .home-billboard;
  margin-top: 93px;
  height: 500px;
  min-height: 500px;
  -webkit-background-size: cover;
    background-size: cover;
}
