@mixin center-column {
    @include make-col-ready();

    @include media-breakpoint-up(xs) {
        @include make-col(12);
    }
    
    @include media-breakpoint-up(lg) {
        @include make-col(6);
    }
}
