{{ define "main" }}

<main class="page donate">
    <div class="container-fluid">
        <div class="row hero align-items-center" style="background-image: url('{{ .Param "cover" | absURL }}')">
            <div class="col-sm-8 offset-sm-5">
                <h1>Generosity Drives<br>Quality Healthcare.</h1>
            </div>
        </div>
    </div>
    <article class="main mt-3">
        <div class="row">
            <div class="col-md-12 col-lg-6 offset-lg-3">
                {{ .Content }}
            </div>
            <div class="col-md-12 col-lg-3 offset-lg-2 mt-3 mb-3">
                <a href="http://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=V6EVVTYYK264C" rel="external" target="_blank"><img src="https://www.paypalobjects.com/webstatic/mktg/logo/pp_cc_mark_111x69.jpg" border="0" alt="PayPal Logo"></a>
            </div>
            <div class="col-md-12 col-lg-6 mb-3 mt-3">
                <a href="https://opencollective.com/openemr" rel="external" target="_blank"><img src="{{ "images/open_collective.png" | absURL }}" class="img-fluid" alt=""></a>
            </div>
        </div>
    </article>
</main>

{{ end }}