{{ define "main" }}

<main class="page">
    {{ if isset .Params "cover" }}
        {{ $smallCover := $.Param "smallCover" }}
        {{ $titleOnCover := $.Param "titleOnCover" }}
        {{ $titlePush := $.Param "titlePush" }}
    
        {{ if eq $smallCover true }}
            <section class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <img src="{{ $.Param "cover" | absURL }}" class="mx-auto d-block" alt="">
                        <div class="clearfix"></div>
                        {{ if eq $titleOnCover true }}
                            {{ if eq $titlePush "center"}}
                            <h1 class="text-center">{{ .Title }}</h1>
                            {{ else if eq $titlePush "right"}}
                            <h1 class="text-right">{{ .Title }}</h1>
                            {{ else }}
                            <h1>{{ .Title }}</h1>
                            {{ end }}
                        {{ end }}
                    </div>
                </div>
        {{ else }}
            <section class="hero full container-fluid" style="background-image: url('{{ $.Param "cover" | absURL}}');">
        {{ end }}
        </section>
    {{ end }}
    <article class="main">
        <div class="row">
            <div class="col-sm-12 col-md-8 offset-md-2">
                {{ .Content }}
            </div>
        </div>
    </article>
    <section class="footer">
        
    </section>
</main>

{{ end }}