
{{- $fluid_classes := delimit (index .Params.classes "fluid" | default (slice "container-fluid")) " " -}}
{{- $container_classes := delimit (index .Params.classes "container" | default (slice "container")) " " -}}
{{- $title_classes := delimit (index .Params.classes "title" | default (slice "display-3")) " " -}}
{{- $content_classes := delimit (index .Params.classes "content" | default (slice "lead")) " " -}}
<div class="{{ $fluid_classes }}">
  <div class="{{ $container_classes}}">
    <section>
      <div class="col-sm-12">
        <h2 class="{{ $title_classes }}">{{ .Title }}</h2>
      </div>
      <div class="col-sm-12">
        <span class="lead">{{ .Content }}</span>
        <div class="col text-center">
          <a class="btn btn-xl {{ .Params.cta_class }}" href="{{ .Params.cta_href | absURL }}">
            {{ .Params.cta_text | safeHTML}}
          </a>
        </div>
      </div>
    </section>
  </div>
</div>
