<footer class="footer">
  <div class="container-fluid social-bar">
    <div class="col-md-12 text-center">

    </div>
  </div>

  <div class="container sitemap">
    <div class="row logo">
      <div class="col-md-3">
        <img src="/wiki/skins/openemr/images/logo-footer.png" class="img-responsive" style="opacity:0.75"/>
      </div>
      <div class="col-md-4 col-md-offset-5 text-right">
        <ul class="list-inline">
          <li class="social-link"><a href="https://twitter.com/openemr"><i class="fa fa-twitter-square fa-fw fa-3x fa-inverse"></i></a></li>
          <li class="social-link"><a href="https://www.facebook.com/OpenEMR-181315115284266/"><i class="fa fa-facebook-square fa-fw fa-3x fa-inverse"></i></a></li>
          <li class="social-link"><a href="https://github.com/openemr/openemr"><i class="fa fa-github-square fa-fw fa-3x fa-inverse"></i></a></li>
          <li class="social-link"><a href="https://plus.google.com/106799034872780958301/posts"><i class="fa fa-google-plus-square fa-fw fa-3x fa-inverse"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row links">
      <div class="col-md-4 project-links-column">
          <h3 class="title nowiki">Main Project Links</h3>
          <ul class="list-unstyled">
            <li><a href="/wiki/index.php/OpenEMR_Features">Features</a></li>
            <li><a href="/demo">Demo</a></li>
            <li><a href="/wiki/index.php/OpenEMR_Downloads">Download</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/wiki">Wiki</a></li>
            <li><a href="https://community.open-emr.org/">Forum</a></li>
            <li><a href="/wiki/index.php/OpenEMR_Support_Guide">Support</a></li>
          </ul>
        </div>
        <div class="col-md-4 help-and-support-column">
          <h3 class="title nowiki">Help & Support Links</h3>
          <ul class="list-unstyled">
            <li><a href="/wiki/index.php/FAQ">FAQs</a></li>
            <li><a href="https://community.open-emr.org/">Forum</a></li>
            <li><a href="/wiki/index.php/OpenEMR_Wiki_Home_Page#User_Manuals">User Manuals</a></li>
            <li><a href="/wiki/index.php/OpenEMR_Wiki_Home_Page#Support">Support Guide</a></li>
            <li><a href="/wiki/index.php/OpenEMR_Professional_Support">Professional Support</a></li>
            <li><a href="/wiki/index.php/OpenEMR_Wiki_Home_Page#ONC_Ambulatory_EHR_Certification">Certification</a></li>
            <li><a href="/wiki/index.php/OpenEMR_Acknowledgments">Acknowledgements</a></li>
          </ul>
        </div>
        <div class="col-md-4 developer-links-column">
          <!-- TODO: replace `&nbsp;` nesting solution with something more elegant -->
          <!-- TODO: map inactive roots (e.x.: `Main Repository`) use a p tag -->
          <h3 class="title nowiki">Developer Links</h3>
          <ul class="list-unstyled">
            <li><a href="/wiki/index.php/OpenEMR_Wiki_Home_Page#Developer_Manuals">Developer Manuals</a></li>
            <li><a href="http://github.com/openemr/openemr/issues">Tracker</a></li>
            <li>
              <a href="http://github.com/openemr/openemr">Main Repository:</a>
              <ul>
                <li><a href="http://github.com/openemr/openemr">Github</a></li>
              </ul>
            </li>
            <li>
              <a href="http://sourceforge.net/projects/openemr/develop">Repository Mirrors:</a>
              <ul>
                <li><a href="http://sourceforge.net/projects/openemr/develop">Sourceforge</a></li>
                <li><a href="http://bitbucket.org/openemr/openemr/">Bitbucket</a></li>
                <li><a href="http://www.assembla.com/spaces/openemr/">Assembla</a></li>
                <li><a href="http://openemr.codeplex.com/">Codeplex</a></li>
                <li><a href="http://repo.or.cz/w/openemr.git">Repo.or.cz</a></li>
              </ul>
            </li>
          </ul>
        </div>
    </div>
    <div class="row links">
      <div class="col text-center">
        <small>
          <a href="//www.iubenda.com/privacy-policy/54578274" class="iubenda-nostyle no-brand iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script> | Copyright 2018 OEMR
          <br>
          Many of the icons used on the homepage are from
          <a href="https://www.flaticon.com">www.flaticon.com</a> and are licensed
          by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>.
          <br>
          Icon authors include:
          <a href="https://www.flaticon.com/authors/madebyoliver" title="Madebyoliver">Madebyoliver</a>,
          <a href="http://www.freepik.com" title="Freepik">Freepik</a>,
          <a href="https://www.flaticon.com/authors/those-icons" title="Those Icons">Those Icons</a>,
          <a href="https://www.flaticon.com/authors/linh-pham" title="Linh Pham">Linh Pham</a>,
          <a href="https://www.flaticon.com/authors/anhgreen" title="AnhGreen">AnhGreen</a>,
          <a href="https://www.flaticon.com/authors/dave-gandy" title="Dave Gandy">Dave Gandy</a>
        </small>
      </div>
    </div>
  </div>
</footer>
<!-- Start of Rocket.Chat Livechat Script -->
<script type="text/javascript">
(function(w, d, s, u) {
	w.RocketChat = function(c) { w.RocketChat._.push(c) }; w.RocketChat._ = []; w.RocketChat.url = u;
	var h = d.getElementsByTagName(s)[0], j = d.createElement(s);
	j.async = true; j.src = 'https://chat.open-emr.org/packages/rocketchat_livechat/assets/rocket-livechat.js';
	h.parentNode.insertBefore(j, h);
})(window, document, 'script', 'https://chat.open-emr.org/livechat');
</script>
<!-- End of Rocket.Chat Livechat Script -->
