<div class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <nav class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
              <!-- note the repitition here is to create the "navicon": -->
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="logo" href="/"><img class="img-responsive" width="514" height="144" src="/wiki/skins/openemr/images/logo_onc.png"></a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right" style="padding-top: 17px;">
              <li><a href="/wiki/index.php/OpenEMR_Features" class="nav-text-link features-link">Features</a></li>
              <li><a href="/demo" class="nav-text-link demo-link">Demo</a></li>
              <li><a href="/wiki/index.php/OpenEMR_Downloads" class="nav-text-link download-link">Download</a></li>
              <li><a href="/blog" class="nav-text-link blog-link">Blog</a></li>
              <li><a href="/wiki" class="nav-text-link wiki-link">Wiki</a></li>
              <li><a href="https://community.open-emr.org/" class="nav-text-link forum-link">Forum</a></li>
              <li><a href="https://chat.open-emr.org/" class="nav-text-link">Chat</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle nav-text-link support-link" data-toggle="dropdown" role="button">Support</a>
                <ul class="dropdown-menu">
                  <li><a href="/support">Costs and Support Options</a></li>
                  <li><a href="https://community.open-emr.org/">Community Support</a></li>
                  <li><a href="https://chat.open-emr.org/">Free Basic Chat Support</a></li>
                  <li><a href="/wiki/index.php/Professional_Support">Professional Support</a></li>
                  <li><a href="/wiki/index.php/OpenEMR_5.0.1_Users_Guide">How-to Guides</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>

