{{ define "main" }}

<section class="home-billboard--year-in-review" style="background-image: url('{{ .Site.BaseURL }}year_in_review_bg.jpg');">
  <div>
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-6 offset-md-3 col-lg-6 offset-lg-0">
            <div class="display-1">
              <span class="year">2017</span>
              <span class="title">Year in Review</span>
            </div>
          </div>
          <div class="col-xs-12 col-md-10 offset-md-1 col-lg-6 offset-lg-0">
            <p class="description">
              What a year for OpenEMR! Look back at some of our biggest accomplishments and see just how many cups of coffee it takes to power the world's leading open-source EMR.
            </p>
            <a class="look-back d-none d-lg-block" href="/year-in-review"><i class="fa fa-sm fa-undo"></i>&nbsp;Look back now</a>          
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="look-back d-lg-none bottom" href="/year-in-review"><i class="fa fa-sm fa-undo"></i>&nbsp;Look back now</a>
</section>

<section class="home-billboard" style="background-image: url('{{ .Site.BaseURL }}img/jumbo2.jpg');">
  <div>
    <div class="jumbotron">
      <div class="container">
        <h3 class="display-4">
          Fully Open-Source.<br>
          Free, Always and Forever.<br>
          2014 ONC Complete EHR Certified.<br>
        </h3>
        <p class="lead">
          OpenEMR is the most popular open source electronic health records and medical practice management
          solution. ONC certified with international usage, OpenEMR's goal is a superior alternative to its
          proprietary counterparts. With passionate volunteers and contributors dedicated to guarding
          OpenEMR's status as a free, open source software solution for medical practices with a commitment to
          openness, kindness and cooperation.
        </p>
      </div>
    </div>
    <div class="banner-items">
      <div class="card-holders">
        <div class="col-sm-12 col-md-4">
          <div class="card">
            <a href="{{ .Site.Params.demoUrl }}">
              <div class="card-body">
                <img class="img-fluid center" src="{{ .Site.BaseURL }}img/monitor.png" alt="Card image cap" height="64" width="64">
                <h4 class="card-title">Try Now</h4>
                <p class="card-text">Login to a fully functioning demo of the latest version of OpenEMR</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="card">
            <a href="{{ .Site.Params.downloadUrl }}">
              <div class="card-body">
                <img class="img-fluid center" src="{{ .Site.BaseURL }}img/download-arrow.png" alt="Card image cap" height="64" width="64">
                <h4 class="card-title">Download a Free Copy</h4>
                <p class="card-text">Download our latest version for your platform</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="card">
            <a href="/wiki/index.php/Support">
              <div class="card-body">
                <img class="img-fluid center" src="{{ .Site.BaseURL }}img/info.png" alt="Card image cap" height="64" width="64">
                <h4 class="card-title">Find Support</h4>
                <p class="card-text">Use our vibrant community to get help with your OpenEMR questions</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</section>

<div class="main-content">
  <section class="onc align-items-center">
    <div class="col-xs-12 col-lg-5">
      <img src="{{ .Site.BaseURL }}img/onc_certification_stacked.png" alt="" style="width:100%">
    </div>
    <div class="col xs-12 col-lg-7">
      <h1 class="display-4">Leading the way.<br>Meaningful Use 2 certified</h1>
      <p class="lead">
        OpenEMR is an ONC Certified HIT 2014 Edition Complete EHR
        product. We take pride in being one of the only open-source
        EHR solutions to provide Meaningful Use certification.
      </p>
    </div>
  </section>
</div>

<div class="parallax-container">
  <div class="parallax">
    <img src="{{ .Site.BaseURL }}img/stethoscope.jpg">
  </div>
</div>

<div class="main-content container-fluid">

  <section class="features" id="features">
    <div class="col-xs-12">
      <h1 class="display-4 text-center">A feature-rich solution</h1>
      <p class="lead">
        Our vibrant community of volunteers and contributors have maintained critical OpenEMR features for over a decade. With over
        <a class="underline" href="{{ .Site.BaseURL }}wiki/index.php/OpenEMR_Features#Multilanguage_Support">30 supported languages</a>,
        many customizations, and full data ownership, OpenEMR's features shine. On top of this, users in need of
        support can take advantage of our <a class="underline" href="https://community.open-emr.org">volunteer support network</a>
        as well as over <a class="underline" href="{{ .Site.BaseURL }}wiki/index.php/OpenEMR_Professional_Support">30 vendors in over 10 countries.</a>
      </p>
    </div>
    <div class="card-holder">
      <div class="card">
        <img class="" src="{{ .Site.BaseURL }}img/calendar.svg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Scheduling</h4>
          <hr>
          <p class="card-text">
            Advanced scheduling allows clinics to create repeating
            events, automated-workflows triggered by check-in,
            and patient reminds.
          </p>
        </div>
      </div>
    </div>
    <div class="card-holder">
      <div class="card">
        <img class="" src="{{ .Site.BaseURL }}img/prescription.svg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">e-Prescribing</h4>
          <hr>
          <p class="card-text">
            Enter a prescription into an encounter and have it
            electronically sent to the patient's pharmacy.
          </p>
        </div>
      </div>
    </div>
    <div class="card-holder">
      <div class="card">
        <img class="" src="{{ .Site.BaseURL }}img/invoice.svg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Medical Billing</h4>
          <hr>
          <p class="card-text">
            Export billing data in standardized, including X12.
          </p>
        </div>
      </div>
    </div>
    <div class="card-holder">
      <div class="card">
        <img class="" src="{{ .Site.BaseURL }}img/medical-report.svg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">CMS Reporting</h4>
          <hr>
          <p class="card-text">
            Generate CMS Meaningful Use reports with just a few
            clicks
          </p>
        </div>
      </div>
    </div>
    <div class="card-holder">
      <div class="card">
        <img class="" src="{{ .Site.BaseURL }}img/vaccine.svg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Lab Integration</h4>
          <hr>
          <p class="card-text">
            Have lab orders automatically sent to a lab and
            integrate the results into a patient's chart
            automatically
          </p>
        </div>
      </div>
    </div>
    <div class="card-holder">
      <div class="card">
        <img class="" src="{{ .Site.BaseURL }}img/flowchart.svg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Clinical Decision Rules</h4>
          <hr>
          <p class="card-text">
            Navigate complex patient algorithms using the
            clinical decision rules engine to ensure the highest
            quality of care for patients.
          </p>
        </div>
      </div>
    </div>
    <div class="card-holder">
      <div class="card">
        <img class="" src="{{ .Site.BaseURL }}img/padlock.svg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Advanced Security</h4>
          <hr>
          <p class="card-text">
            HIPAA-friendly, fine-grained access control objects,
            and industry-standard password hashing helps to
            protect your practice from intrusion
          </p>
        </div>
      </div>
    </div>
    <div class="card-holder">
      <div class="card">
        <img class="" src="{{ .Site.BaseURL }}img/earth.svg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Multilingual Support</h4>
          <hr>
          <p class="card-text">
            Available in over 30 languages, and customizable to
            add more.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="parallax-container">
  <div class="parallax">
    <img src="{{ .Site.BaseURL }}img/hospital.jpg">
  </div>
</div>

<div class="main-content">
  <section>
    <div class="col text-center">
      <h1 class="display-4">Who uses OpenEMR?</h1>
    </div>
  </section>
  <section class="highlighted-users">
    <div class="col">
      <img src="{{ .Site.BaseURL }}img/IPPF-full-logo.png" alt="" height="70" class="">
    </div>
    <div class="col">
      <img src="{{ .Site.BaseURL }}img/peace-corps.png" alt="" height="70" class="">
    </div>
    <div class="col">
      <img src="{{ .Site.BaseURL }}img/siaya-district-hospital.jpg" alt="" height="70" class="">
    </div>
  </section>
</div>

<div class="parallax-container">
  <div class="parallax">
    <img src="{{ .Site.BaseURL }}img/md-with-ipad.jpg" alt="">
  </div>
</div>

<div class="main-content">
  {{ partial "help-needed.html" . }}
</div>

<div class="parallax-container">
  <div class="parallax">
    <img src="{{ .Site.BaseURL }}img/screen.jpg" alt="">
  </div>
</div>

<div class="main-content">
  <section class="deploy">
    <div class="col text-center">
      <img src="{{ .Site.BaseURL }}img/server.svg" alt="" height="128">
      <h2 class="display-4">On-Premise</h2>
      <p>Run OpenEMR on your own servers on location</p>
    </div>
    <div class="col text-center">
      <img src="{{ .Site.BaseURL }}img/cloud.svg" alt="" height="128">
      <h2 class="display-4">Cloud-based</h2>
      <p>Deploy OpenEMR to the cloud</p>
    </div>
  </section>
  <section class="osi">
    <div class="col-sm-12 col-md-6">
      <h1 class="display-4">Open-Source</h1>
      <p class="lead">
        Open source software has changed the world for the better. OpenEMR is a leader in healthcare open source software. Costly
        proprietary EMRs are no longer the only option. Learn how to start contributing today!
      </p>
    </div>
    <div class="col text-center">
      <img src="{{ .Site.BaseURL }}img/osi-certified.png" alt="" class="img-fluid">
    </div>
  </section>
</div>
{{ end }}
