{{- define "main" -}}
{{- $homepages := (.Site.GetPage "homepage").Pages -}}
{{- partial "homepage/billboard" . -}}

{{/*  Render all featured pages sorted by weight  */}}
{{- range where $homepages.ByWeight "Params.featured" true -}}
  {{ partial "page_section_parallax" . }}
{{- end -}}

{{/*  Render the latest lecture series and blog posts  */}}
{{- $show_blogs := .Site.Params.homepage.show_recent_blogs | default true -}}
{{- $show_lectures := .Site.Params.homepage.show_recent_lectures | default true -}}
{{- $cols := cond (and $show_blogs $show_lectures) "col-xs-12 col-lg-6" "col-xs-12" -}}
{{- if  (or $show_blogs $show_lectures) -}}
<div class="container py-5">
  <div class="row">
    {{- if $show_lectures -}}
    <div class="{{ $cols }}">
      {{ partial "homepage/recent_lecture.html" . }}
    </div>
    {{- end -}}
    {{- if $show_blogs -}}
    <div class="{{ $cols }}">
      {{ partial "homepage/recent_blog.html" . }}
    </div>
    {{- end -}}
  </div>
</div>
{{- end -}}

{{ partial "features/feature-list" (.Site.GetPage "features") }}

{{ partial "highlighted_users" . }}

{{/*  Render all featured pages sorted by weight  */}}
{{- range (where $homepages "Params.featured" "ne" true).ByWeight -}}
  {{- partial "page_section_parallax" . -}}
{{- end -}}


{{- partial "split-content" . -}}

{{- end -}} {{/* end main block definition */}}
