/* NOTE: There isn't much to the OpenEMR website/wiki at the moment. Abstract out
   this code later if there is non-trivial changes applied/code becomes hard to maintain. */

/* ------------ */
/* --- BASE --- */
/* ------------ */
body {
  /* TODO: using inline style for this on the homepage because this is being
     ignored for some reason. */
  background: #ffffff;
}

.nowiki h1, .nowiki h2, .nowiki h3, .nowiki h4, .nowiki h5, .nowiki h6 {
  font-family: 'League Spartan';
}

/* --------------- */
/* --- HELPERS --- */
/* --------------- */
.hide {
  display: none;
}

.underline {
  text-decoration: underline;
}

.center-image {
  margin: auto;
  display: block;
}

.center-text {
  text-align: center;
}

.no-margin {
  margin: 0px;
}

.center-content-inside-column {
  display: table;
  margin: 0 auto;
}

.inline-block {
  display: inline-block;
}

.donate-link {
  color: ##1bbc9b !important;
  font-weight: bold;
}

.header {
  padding-top: 25px;
  padding-bottom: 25px;
}

/* --------------------------- */
/* --- MEDIAWIKI OVERRIDES --- */
/* --------------------------- */
#globalWrapper {
  /* MinHeight = available height - min header - min carousel - min footer */
  min-height: calc(100vh - 80px - 395px - 500px);
}

.container_webpage {
  max-width: 1300px;
  min-width: 350px;
  width: 100%;
  margin: auto;
  background: #ffffff;
}

/* --------------------------- */
/* --- BOOTSTRAP OVERRIDES --- */
/* --------------------------- */
.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.btn-clear {
  font-size: 3rem;
  font-family: "Montserrat";
  background: rgba(255,255,255,0.25);
  padding: 25px;
  border: 3px solid rgba(255, 255, 255, 0);
  color: #fff;
}

.btn-clear:hover {
  background: rgba(39, 136, 205, 0.25);
  color: #fff;
  border: 3px solid rgba(255, 255, 255, 0);
}

.btn-clear > .small {
  font-size: 0.55em;
}

/* ----------------- */
/* --- CONTAINER --- */
/* ----------------- */
.container-fluid {
  padding: 0px;
}

.hero .btn {
  margin-top: 50px;
}

@media (max-width: 797px) {
  body {
    padding-left: 0px;
    padding-right: 0px;
  }
}

/* set a max-width for horizontal fluid layout and make it centered */
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  // max-width: 1300px;
}

/* -------------- */
/* --- NAVBAR --- */
/* -------------- */
.navbar {
  background: #ffffff;
  border: none;
  min-height: 80px;
}

.navbar .nav-text-link {
  /* TODO: don't force override */
  color: #505aa8 !important;
  margin-top: 8px;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
}

.navbar .nav-text-link.active-link {
  color: #1bbc9b !important;
}

.navbar .navbar-header {
  margin-left: 10px;
  margin-top: 5px;
}

.navbar .navbar-right {
  margin-right: -5px;
  margin-top: 8px;
}

/* nice green border when site is tablet/mobile and carousel
   cannot be shown */
/*@media (max-width: 700px) {
  .navbar {
    padding-bottom: 15px;
    border-bottom-color: #5cbd6c;
    border-bottom-width: 3px;
    border-bottom-style: solid;
  }
}*/

@media (max-width: 1200px) {
  .navbar .navbar-header {
    margin-left: 0;
  }
}

@media (max-width: 1025px) {
  .navbar .nav-text-link {
    padding-right: 2px;
  }
}

/* collapse sooner: http://stackoverflow.com/a/26433031/1525534 */
@media (max-width: 800px) {
  .navbar .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar .navbar-collapse.collapse.in {
    display: block !important;
  }

  .navbar .navbar-header .collapse, .navbar-toggle {
    display: block !important;
  }

  .navbar .navbar-header {
    float: none;
  }
}

.navbar-toggle {
  border-color: #DDDDDD;
  margin-top: 17px;
}

/* -------------- */
/* --- FOOTER --- */
/* -------------- */
.footer {
  min-height: 500px;
  background: #313131;;
  color: #fff;
}

/* TODO: there is an issue when on non-front page pages (e.x.: wiki)
   the footer needs to be min-height: 112px for it to be the correct
   height. */
/* TODO: for some reason, the social bar icons aren't perfectly in the center */
.footer .social-bar {
  background: #fff;
  padding-top: 15px;
  min-height: 100px;
}

@media (max-width: 500px) {
  .footer .social-bar .center-content-inside-column {
    display: block;
    margin: auto;
  }
}

.footer {
  padding-bottom: 65px;
}

.footer .sitemap .logo {
  padding-top: 30px;
}

.footer .sitemap .links .title {
  font-family: 'Montserrat', sans-serif;
  color: #339ad6;
}

.footer .title {
  font-size: 1.25em;
}

/* TODO: when the footer gets too thin, show collaposable top-level menus instead */
@media (max-width: 1000px) {
  .footer .sitemap .links .project-links-column,
  .footer .sitemap .links .help-and-support-column,
  .footer .sitemap .links .developer-links-column {
    margin-left: 20px;
  }

  .footer .sitemap .logo > div > img {
    margin: auto;
    display: block;
    padding: 0;
  }

  .footer .sitemap {
    min-height: 1000px;
  }
}

.footer .sitemap .links a {
  color: #878787;
  font-size: 1.25em;
  text-decoration: none;
  font-family: 'Work Sans', sans-serif;
}

.footer small {
  color: #878787;
}

.footer .sitemap .links a:hover,
.footer .sitemap .links a:active {
  color: #1bbc9b;
  text-decoration: none;
}

/* ----------- */
/* --- 404 --- */
/* ----------- */
.page-not-found {
  min-height: 45vh;
  padding: 15px;
  text-align: center;
}

/* ---------------- */
/* --- CAROUSEL --- */
/* ---------------- */
 .carousel {
  margin-top: -20px;
  width: 100%;
  height: 395px;
}

@media (max-width: 700px) {
  .carousel {
    display: none;
  }
}

.carousel .slide {
  /* TODO: switch to "inherit" once tested on IE */
  width: 100%;
  height: 395px;
  border-bottom-color: #5cbd6c;
  border-bottom-width: 6px;
  border-bottom-style: solid;
  background-size: cover;
  background-position: center middle;
}

.carousel .slide.slide-0 {
  background-image: url(/wiki/skins/openemr/images/slide-1.jpg);
}

.carousel .slide.slide-1 {
  background: #23538a;
  background-image: -ms-linear-gradient(top, #a7cfdf 0%, #23538a 100%);
  background-image: -moz-linear-gradient(top, #a7cfdf 0%, #23538a 100%);
  background-image: -o-linear-gradient(top, #a7cfdf 0%, #23538a 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #a7cfdf), color-stop(100, #23538a));
  background-image: -webkit-linear-gradient(top, #a7cfdf 0%, #23538a 100%);
  background-image: linear-gradient(to bottom, #a7cfdf 0%, #23538a 100%);
}

.carousel .slide.slide-1 .left {
  float: left;
  width: 70%;
  padding-left: 50px;
  padding-top: 30px;
}

.carousel .slide.slide-1 .left h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 33px;
  color: #ffffff;
}

.carousel .slide.slide-1 .left p {
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

.carousel .slide.slide-1 .left a,
.carousel .slide.slide-1 .left a:active,
.carousel .slide.slide-1 .left a:hover,
.carousel .slide.slide-1 .left a:visited {
  color: #dcdcdc !important;
  text-decoration: underline;
}

.carousel .slide.slide-1 .right {
  float: right;
  width: 30%;
  padding-right: 60px;
  padding-top: 60px;
}

.carousel .slide.slide-1 .right img {
  float: right;
  height: 226px;
}

@media (max-width: 1200px) {
  .carousel .slide.slide-1 .right {
    display: none;
  }

  .carousel .slide.slide-1 .left {
    width: 100%;
    float: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 60px;
  }
}

@media (max-width: 1070px) {
  .carousel .slide.slide-1 .right {
    display: none;
  }

  .carousel .slide.slide-1 .left {
    width: 100%;
    float: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
  }
}

/* TODO: need to make this slide responsive. Don't use a picture */
.carousel .slide.slide-2 {
  background-image: url(/wiki/skins/openemr/images/notable-users-slide.jpg);
}

/* ------------ */
/* --- HOME --- */
/* ------------ */
.home h1, .home h2, .home h3 {
  /*font-family: 'Work Sans', sans-serif;*/
  text-transform: uppercase;
}

.nowiki h3 {
  color: rgba(255,255,255,0.75);
}

h1 span.logo-emr {
  font-size:65%;
  font-weight: 100;
  color: #d9d9d9;
}

.hero h4 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.home a, .home a:visited, .home a:hover, .home a:active {
  color: #339ad6;
}

.home a img {
  outline: none;
}

.home p {
  font-size: 17px;
}

.home .about {
  padding: 15px;
}

.home .about .row.about-logo {
  padding-top: 15px;
  padding-bottom: 15px;
}

.donations-needed {
  margin-top: 25px;
  margin-bottom: 25px;
  color: #c9302c;
}
.donations-needed h3 {
  color: #c9302c;
}
.donations-needed a, .donations-needed a:visited,
.donations-needed a:active {
  color: #c9302c;
}
.donations-needed a.btn {
  color: #c9302c;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  animation: all 2s;
}
.donations-needed a.btn:hover {
  background-color: #c9302c;
  color: #fff;
}
.donations-needed .btn {
  border-radius: 8px;
  border: 2px solid #c9302c;
  color: #c9302c;
  background-color: transparent;
}


@media (max-width: 700px) {
  .home .about .row.about-logo {
    display: none;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.home .about .row.about-text {
  color: #75706c;
  font-size: 18px;
  line-height: 27px;
  padding-left: 45px;
  padding-right: 45px;
  text-align: justify;
}

@media (max-width: 993px) {
  .home .about .row.about-text {
    padding-left: 10px;
    padding-right: 10px;
    line-height: 22px;
  }
}

@media (max-width: 400px) {
  .home .about .row.about-text {
    padding-left: 5px;
    padding-right: 5px;
    line-height: 22px;
  }
}

.home .what-is-openemr {
  margin: 45px 0px;
  padding: 10px 0px 25px;
  color: #fff;
  background-color: #313131;
  box-shadow: 0px 0px 8px #d8d8d8;
}

.box-shadow {
  box-shadow: 0px 0px 8px #d8d8d8;  
}

.home .what-is-openemr a, .home .what-is-openemr a:active,
.home .what-is-openemr a:visited {
  text-decoration: underline;
  color: #fff;
}

.home .non-profit-backing {
  background: #339ad6;
}

.home .open-source {
  background: #339A2C;
}

.home .certifications {
  background: #7B001B;
}

.home .point {
  height: 260px;
}

.panel-default {
  box-shadow: 0px 0px 8px #d8d8d8;
}

.equal, .equal > div[class*='col-'] {  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex:1 1 auto;
}

.home .panel-title {
  font-family: 'League Spartan', sans-serif;
  font-size: 16pt;
  text-transform: uppercase;
  padding: 10px 0px;
  color: #ffffff;
  text-align: center;
}

.home .point .info {
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  color: #F2F2F2;
  line-height: 25px;
}

.home .main-points .point .info a,
.home .main-points .point .info a:visited,
.home .main-points .point .info a:hover,
.home .main-points .point .info a:active {
  color: #F2F2F2;
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .home .main-points .point {
    height: 270px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 1150px) {
  .home .main-points .point {
    height: 310px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 1000px) {
  .home .main-points .point {
    width: 100%;
    height: 160px;
    padding: 5px;
  }

  .home .main-points .point .info {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 700px) {
  .home .main-points .point {
    width: 100%;
    height: 200px;
    padding: 5px;
  }

  .home .main-points .point .info {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 600px) {
  .home .main-points .point {
    width: 100%;
    height: 220px;
    padding: 5px;
  }

  .home .main-points .point .info {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.home .features {
  background-color: #2788CD;
  color: #fff;
}

.features a, .features a:visited {
  color: #fff;
}
.features a:hover, .features a:visited:hover {
  color: #fff;
  text-decoration: underline;
}

.home .features .title {
  font-family: 'Montserrat', sans-serif;
  /*color: #505aa8;
  text-align: center;*/
}

.home .features .about-features {
  color: #75706c;
  font-size: 16px;
  /*line-height: 27px;*/
  padding-left: 45px;
  padding-right: 45px;
  text-align: justify;
}

.home .features .bullets {
  margin-bottom: 30px;
}

.home .features .bullets .bullet a {
  font-size: 14pt;
  line-height: 50px;
  /*color: #339ad6 !important;*/
}

.home .features .bullets .bullet i {
  font-size: 18px;
  color: #ffffff;
}

@media (max-width: 993px) {
  .home .features .about-features {
    padding-left: 10px;
    padding-right: 10px;
    /*line-height: 22px;*/
  }

  .home .features .bullets .center-content-inside-column {
    display: block;
    margin: auto;
  }
}
